/*

Default css from project creation, will change later

*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/*
-----------------------
Language filter buttons
-----------------------
*/

/*Language filter container*/
.language-filter{
  display: flex; /*buttons flex with screen size*/
  flex-direction: column; /*Vertical stacking*/
  gap: 8px; /*Button spacing*/
  width: 25%; /*Width of container determined by screen size*/
  min-width: 220px; /*Button container will never get smaller than 220px*/
}

.language-btn{
  color: green; /*text colour*/
  border-radius: 8px; /*rounded borders*/
  text-align: center;
  font-size: 1.1rem; /*rem units are scalable*/
  padding: 10px;
}

/*

Adjustments for smaller screens (< 600 px)

*/

@media (max-width: 600px) {
    .language-filter {
        width: 100%;      /* full width buttons */
        min-width: unset;  /* Allow shrinking */
    }

    .language-btn {
        font-size: 1rem;  /* font 10% smaller than desktop */
    }
}